{% include '_header.twig' %}

    {% include '_pageheader.twig' with { title: record.title } %}

    <section class="page-content">
        <div class="container">
            {% if record.logo is not empty %}
                <div class="entry-image">
                    <img src="{{ image(record.logo) }}">
                </div>
            {% endif %}
            <article>
                {% if record.name is not empty %}
                    <h2>{{ record.name }}</h2>
                {% endif %}

                {{ record.bio }}

                {% if record.website is not empty %}
                <p>
                        <strong>{{ __("Website") }}:</strong><br><a target="_blank" href="{{ record.website }}">{{ record.website }}</a>
                </p>
                {% endif %}
                {% if record.telephone is not empty %}
                    <p>
                        <strong>{{ __("Telephone") }}:</strong><br>{{ record.telephone }}
                    </p>
                {% endif %}
                {% if record.address is not empty %}
                    <p>
                        <strong>{{ __("Address") }}:</strong><br>{{ record.address|nl2br }}
                    </p>
                {% endif %}

                {% include '_recordfooter.twig' with {record: record} %}
            </article>

        </div>
    </section>

    <!-- End Main Content -->

    {#{% include '_aside.twig' %}#}

<!-- End Main Content and Sidebar -->



{% include '_footer.twig' %}
